@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#030014] text-white overflow-x-hidden antialiased selection:bg-purple-500/30 selection:text-purple-200;
  }
  
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #030014;
  }
  ::-webkit-scrollbar-thumb {
    background: #4c1d95;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #7e22ce;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}